.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.books {
  overflow: hidden;
  padding: 20px;
  margin: 0 -5px;
  text-align: left;
}
.books h1 {
  padding: 0 5px;
  text-align: center;
}
input[type="text"] {
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #337ab7;
  padding: 3px 10px;
}
input[type="text"]:focus {
}
.btn {
  height: 30px;
  line-height: normal;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.btn_red {
  background: red;
}
.btn_green {
  background: green;
}
.btn_primary {
  background: #337ab7;
}
.create-book {
  float: left;
  text-align: left;
  padding: 20px;
}
.create-book form label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
form > div{
  margin-bottom: 5px;
}
.books:after {
  display: table;
  clear: both;
  width: 100%;
}
.book {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 5px;
  min-width: 240px;
}
.book .label {
  font-weight: bold;
}
.book__img {
  width: 145px;
  height: 205px;
  margin: 0 auto 10px;
  background: #ccc;
}
.book__img img {
  object-fit: contain;
  max-width: 100%;
  width: 145px;
  height: 205px;
}
